.slide-text-bottom-word {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;

  padding-top: 1.8rem;
  margin-top: -1.8rem;

  .slide-text-bottom-letter {
    display: inline-block;
    transform: translate3d(0, 130%, 0);
  }
}
