@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(2rem);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInBottom {
  from {
    opacity: 0;
    transform: translateY(2rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes scalingAppearance {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

@keyframes slidingBottom {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0);
  }
}
